/* Imports
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat:wght@300&display=swap');


/* Variables
---------------------------------------------------------*/
$primary-color: #efd300;
$dark-color: #171717;
$playfair-font: 'Playfair Display', serif;


/* Border-boxing
---------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
}

    // Smooth-scroll  
html {
  scroll-behavior: smooth;
  // height: 100%;
}


/* Body
---------------------------------------------------------*/
body {
  font: 62.5%/1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: $dark-color;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}


/* Font Sizing
---------------------------------------------------------*/
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
p {
  font-size: 1.2rem;
}


/* Clear and floats
---------------------------------------------------------*/
.clearfix {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}


/* Navbar
---------------------------------------------------------*/
.nav-container {
  min-width: 25em;
  background-color: transparent;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-item{
    padding-top: 1rem;

    &:hover {
      background-color: $dark-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  li a{
    display: inline-block;
    padding: 0.8rem;
  }

  a {
    font-size: .8rem;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}


/* Hero full-width image
---------------------------------------------------------*/
.hero-image {
  position: relative;
  height: 100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/imgs/married-couple-dancing-at-wedding-black-and-white.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.hero-contianer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  .hero-text {
    color: #fff;
    font-family: $playfair-font;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0 2rem;

    h1 {
      font-size: 2em;
      max-width: 20em;
      mix-blend-mode: difference;
    }
  }

  button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 0.5rem 0;
    transition: 0.3s all;

    &:hover {
      background-color: $primary-color;
      border: 2px solid $primary-color;
    }

    a {
      color: #fff;
      font-size: 1rem;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $dark-color;
      }
    }
  }
}


/* Gallery
---------------------------------------------------------*/
.gallery-container {
  font-family: $playfair-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-family: $playfair-font;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: .8em;
    padding-left: .8em;
    padding-top: 2rem;
    text-align: center;
  }

  .cards-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // width: 90%;
    // height: 60%;
    margin: auto;

    .card {
      position: relative;
      width: 24rem;
      height: 32rem;
      // border: 2px solid #fff;
      // border-radius: 5px;
      margin: 0 .5em;

        img { 
          width: 100%; 
          height: 100%; 
          margin-left: auto;
          margin-right: auto;
          object-fit: cover; 
          z-index: 0;
          opacity: .6;
      }

      h3 {
        font-size: 100%;
        font-weight: 100;
        position: absolute;
        top: 47%;
        left:0;
        right:0;
        letter-spacing: .8em;
        padding-left: .8em;
        z-index: 1;
      }
    }
  }
}


/* Contact Form
---------------------------------------------------------*/
.contact-container {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-transform: uppercase;

  h1 {
    color: $dark-color;
    font-family: $playfair-font;
    font-size: 3rem;
    letter-spacing: .8em;
    padding-left: .8em;
    padding-top: 2rem;
    text-align: center;
  }

  .form-container {
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem;
    // width: 60%;
    // height: 65%;

    & > div {
      margin: .5em;
    }

    .name, .email, 
    .phone, .comment {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 90%;
    }

    #first-name, #last-name {
      width: 48%;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    textarea, select {
      background-color: #202020;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      margin-top: .3rem;
      padding: .8rem;
    }

    select {
      appearance: none;
      color: #cfcfcfde;
    }

    .fa-chevron-down {
      margin-left: .5rem;
    }

    .intrest-location {
      display: flex;
      text-align: left;
      width: 90%;
    }

    #intrest {
      width: 90%;
    }

    .location {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    input[type=submit] {
      background-color: #202020;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
      margin-top: 1.3em;
      padding: .5em;
      text-transform: uppercase;
      width: 30%;
      transition: 0.3s all;

      &:hover {
        background-color: $primary-color;
        color: $dark-color;
      }
    }
  }
}


/* About
---------------------------------------------------------*/
.about-container {
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  text-transform: uppercase;
}

/* Footer
---------------------------------------------------------*/
footer {
  background-color: $dark-color;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 4em 0em;
  }

  h5 {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
  .top-footer a:hover {
    color: $primary-color;
  }

  .icon-wrapper:hover{
    color: $dark-color;
    background-color: $primary-color;
    border: $dark-color;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icon-wrapper {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2.4em;
    height: 2.4em;
    width: 2.4em;
    display: flex;
    transition: .2s ease-in-out;
  }

  .icon-wrapper i {
    margin: auto;
  }

  .logo-div {
    flex-basis: 25%;
    position: relative;
    bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .top-footer {
    display: flex;
    justify-content: space-evenly;
    a {
      text-transform: uppercase;
    }
  }
  .bottom-footer {
    display: flex;
    justify-content: center;
    a {
      margin-top: .5rem;
      margin-bottom: .5em;
      margin-left: .3rem;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
  }
}






