/* Imports
---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat:wght@300&display=swap");
/* Variables
---------------------------------------------------------*/
/* Border-boxing
---------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Body
---------------------------------------------------------*/
body {
  font: 62.5%/1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: #171717;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

/* Font Sizing
---------------------------------------------------------*/
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

/* Clear and floats
---------------------------------------------------------*/
.clearfix {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Navbar
---------------------------------------------------------*/
.nav-container {
  min-width: 25em;
  background-color: transparent;
}

.nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav-container .nav-item {
  padding-top: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-container .nav-item:hover {
  cursor: pointer;
  background-color: #171717;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-container .nav-item:active {
  background-color: #171717;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-container li a {
  display: inline-block;
  padding: 0.8rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-container a {
  font-size: .8rem;
  color: #fff;
  text-decoration: none;
}

.nav-container a:hover {
  cursor: pointer;
  color: #ffe01b;
}

.nav-container a:active {
  color: #ffe01b;
}

/* Hero full-width image
---------------------------------------------------------*/
.hero-image {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/imgs/married-couple-dancing-at-wedding-black-and-white.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imgs/married-couple-dancing-at-wedding-black-and-white.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 100;
  color: #ffe01b;
  line-height: 3rem;
  margin-top: 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-contianer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.hero-contianer .hero-text {
  color: #fff;
  font-family: "Playfair Display", serif;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.hero-contianer .hero-text h1 {
  font-size: 2rem;
  font-weight: 100;
  max-width: 100%;
  mix-blend-mode: difference;
  line-height: 2rem;
}

.hero-contianer button {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5rem 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.hero-contianer button:hover {
  background-color: #ffe01b;
  border: 2px solid #ffe01b;
}

.hero-contianer button:active {
  background-color: #ffe01b;
  border: 2px solid #ffe01b;
}

.hero-contianer button a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-contianer button a:hover {
  color: #171717;
}

.hero-contianer button a:active {
  color: #171717;
}

/* Gallery
---------------------------------------------------------*/
.gallery-container {
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.gallery-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-align: center;
}

.gallery-container .underline {
  border: 1px solid #ffe01b;
  border-radius: 10px;
  width: 25%;
  margin-top: .5rem;
}

.gallery-container .gallery-p {
  font-size: 1rem;
  margin-top: 1rem;
}

.gallery-container .gallery-p span:not(:last-child) {
  padding-right: 2rem;
}

.gallery-container .gallery-p span:not(:first-child) {
  padding-left: 2rem;
}

.gallery-container .arrows {
  color: #fff;
}

.gallery-container .imgs-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  height: 100vh;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.gallery-container .imgs-wrapper img {
  display: block;
  max-width: 100%;
}

.gallery-container .gallery {
  background-color: #171717;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery-container .gallery-img {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  scroll-snap-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-height: 100vh;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-container .lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.gallery-container .lil-nav a {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.gallery-container .lil-nav-img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.gallery-container .lil-nav-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

/* Contact Form
---------------------------------------------------------*/
.contact-container {
  background-color: #ffe01b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: auto;
  text-transform: uppercase;
}

.contact-container h1 {
  color: #171717;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-align: center;
}

.contact-container p, .contact-container a {
  color: #171717;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  text-align: center;
  width: 80%;
}

.contact-container a {
  margin-top: 1rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.contact-container a:hover {
  opacity: .8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.contact-container .underline {
  border: 1px solid #171717;
  border-radius: 10px;
  width: 25%;
  margin-top: .5rem;
}

.contact-container .form-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #171717;
  border: 2px solid #171717;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 1rem auto 4rem auto;
  padding: 1%;
}

.contact-container .form-container > div {
  margin: .5em;
}

.contact-container .form-container .name, .contact-container .form-container .email,
.contact-container .form-container .phone, .contact-container .form-container .comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 90%;
  overflow: hidden;
}

.contact-container .form-container #first-name, .contact-container .form-container #last-name {
  width: 48%;
}

.contact-container .form-container input[type=text], .contact-container .form-container input[type=tel],
.contact-container .form-container input[type=email], .contact-container .form-container textarea, .contact-container .form-container select {
  background-color: #202020;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: .5rem;
  padding: .5rem;
}

.contact-container .form-container a:focus, .contact-container .form-container button:focus,
.contact-container .form-container input:focus, .contact-container .form-container textarea:focus {
  outline: none;
}

.contact-container .form-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #cfcfcfde;
}

.contact-container .form-container .fa-chevron-down {
  margin-left: .5rem;
}

.contact-container .form-container .intrest-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 90%;
}

.contact-container .form-container #intrest {
  width: 90%;
  overflow: hidden;
}

.contact-container .form-container #intrest:hover {
  cursor: pointer;
}

.contact-container .form-container .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.contact-container .form-container input[type=submit] {
  background-color: #171717;
  border: 2px solid #ffe01b;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: .8em;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 30%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.contact-container .form-container input[type=submit]:hover {
  cursor: pointer;
  background-color: #ffe01b;
  color: #171717;
}

.contact-container .form-container input[type=submit]:active {
  background-color: #ffe01b;
  color: #171717;
}

/* About
---------------------------------------------------------*/
.about-container {
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80%;
  margin: 0 auto;
}

.about-container h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-transform: uppercase;
}

.about-container .underline {
  border: 1px solid #ffe01b;
  border-radius: 10px;
  width: 25%;
  margin-top: .5rem;
}

.about-container .about-content {
  margin: 4rem auto 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.about-container .about-content .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24rem;
  height: 32rem;
  margin: 2em;
  overflow: hidden;
}

.about-container .about-content .img-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container p {
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  width: 60%;
}

/* Footer
---------------------------------------------------------*/
footer {
  background-color: #171717;
  position: relative;
  bottom: 0;
  height: 20%;
  width: 100%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 1rem auto;
  padding: 1em 0 0 0;
}

footer small {
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .top-footer a:hover {
  color: #ffe01b;
}

footer .top-footer a:active {
  color: #ffe01b;
}

footer .footer-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2rem;
}

footer .icon-wrapper:hover {
  color: #171717;
  background-color: #ffe01b;
  border: #171717;
}

footer .icon-wrapper:active {
  color: #171717;
  background-color: #ffe01b;
  border: #171717;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .icon-wrapper {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2.4em;
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .icon-wrapper i {
  margin: auto;
}

footer .logo-div {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .top-footer a {
  text-transform: uppercase;
}

footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .bottom-footer a {
  margin-top: .5rem;
  margin-bottom: .5em;
  margin-left: .3rem;
}

/* Media Query
---------------------------------------------------------*/
@media screen and (max-width: 768px) {
  h2 {
    line-height: 2.3rem;
  }
  .gallery-container .fas {
    margin-top: 1rem;
  }
  .gallery-container .imgs-wrapper {
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
  }
  .gallery-container .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
  .gallery-container .gallery-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    border: none;
    min-width: 100vw;
    min-height: 85vh;
    max-height: 85vh;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .gallery-container .lil-nav {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 2;
        grid-row-start: 2;
    height: 8rem;
  }
  .gallery-container .lil-nav a {
    height: 8rem;
    min-width: 28vw;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .gallery-container .underline,
  .contact-container .underline,
  .about-container .underline {
    width: 85%;
  }
  .about-container p {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .nav-container {
    min-width: 22rem;
  }
  h2 {
    line-height: 2.3rem;
  }
  .hero-contianer .hero-text h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .gallery-container h1 {
    font-size: 9vw;
  }
  .gallery-container .underline {
    width: 85%;
  }
  .gallery-container .gallery-p span:not(:first-child) {
    padding-left: 1rem;
  }
  .gallery-container .gallery-p span:not(:last-child) {
    padding-right: 1rem;
  }
  .gallery-container .gallery-img {
    min-height: 85vh;
    max-height: 85vh;
  }
  .gallery-container .imgs-wrapper {
    height: 85vh;
  }
  .gallery-container .lil-nav {
    height: 5rem;
  }
  .gallery-container .lil-nav a {
    height: 5rem;
  }
  .contact-container h1 {
    font-size: 9vw;
  }
  .contact-container p {
    font-size: .9rem;
    margin-top: .8rem;
  }
  .contact-container a {
    font-size: .8rem;
  }
  .contact-container .form-container {
    max-height: 100%;
    width: 90%;
    padding: 1rem;
    margin-top: 2rem;
  }
  .contact-container .form-container .name, .contact-container .form-container .email,
  .contact-container .form-container .phone, .contact-container .form-container .comment {
    width: 98%;
  }
  .contact-container .form-container .intrest-location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 98%;
  }
  .contact-container .form-container .intrest-location #intrest,
  .contact-container .form-container .intrest-location .location {
    width: 100%;
  }
  .contact-container .form-container .intrest-location .intrest,
  .contact-container .form-container .intrest-location .location {
    margin: .5em 0;
  }
  .contact-container .form-container input[type=submit] {
    margin-top: .8em;
    margin-bottom: .2em;
    width: 40%;
  }
  .about-container {
    min-height: 70%;
  }
  .about-container h1 {
    font-size: 9vw;
  }
  .about-container .about-content {
    margin: 1rem auto;
  }
  .about-container .about-content p {
    font-size: 1.2rem;
  }
  .about-container p {
    padding-top: 2rem;
    width: 95%;
  }
  footer {
    height: auto;
  }
  footer .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top-footer .logo-div, footer .top-footer ul {
    margin-bottom: 1rem;
  }
  footer small {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 85%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 321px) {
  .nav-container {
    min-width: 15rem;
  }
  h2 {
    font-size: 12vw;
    line-height: 2rem;
  }
  .hero-contianer .hero-text {
    float: none;
  }
  .hero-contianer .hero-text h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .gallery-p {
    display: none;
  }
  .about-container .about-content p {
    font-size: 1rem;
  }
  .about-container p {
    height: 100%;
    padding-top: .5rem;
  }
  footer .top-footer .logo-div, footer .top-footer ul {
    margin-bottom: .5rem;
  }
  footer small {
    margin-top: .5rem;
    padding-bottom: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */