/* Imports
---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat:wght@300&display=swap");
/* Variables
---------------------------------------------------------*/
/* Border-boxing
---------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Body
---------------------------------------------------------*/
body {
  font: 62.5%/1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: #171717;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

/* Font Sizing
---------------------------------------------------------*/
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

/* Clear and floats
---------------------------------------------------------*/
.clearfix {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Navbar
---------------------------------------------------------*/
.nav-container {
  min-width: 25em;
  background-color: transparent;
}

.nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav-container .nav-item {
  padding-top: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-container .nav-item:hover {
  cursor: pointer;
  background-color: #171717;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-container li a {
  display: inline-block;
  padding: 0.8rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-container a {
  font-size: .8rem;
  color: #fff;
  text-decoration: none;
}

.nav-container a:hover {
  cursor: pointer;
  color: #efd300;
}

/* Hero full-width image
---------------------------------------------------------*/
.hero-image {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/imgs/married-couple-dancing-at-wedding-black-and-white.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imgs/married-couple-dancing-at-wedding-black-and-white.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 100;
  color: #efd300;
  line-height: 3rem;
  margin-top: 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-contianer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.hero-contianer .hero-text {
  color: #fff;
  font-family: "Playfair Display", serif;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.hero-contianer .hero-text h1 {
  font-size: 2rem;
  font-weight: 100;
  max-width: 100%;
  mix-blend-mode: difference;
  line-height: 2rem;
}

.hero-contianer button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5rem 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.hero-contianer button:hover {
  background-color: #efd300;
  border: 2px solid #efd300;
}

.hero-contianer button a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-contianer button a:hover {
  color: #171717;
}

/* Gallery
---------------------------------------------------------*/
.gallery-container {
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.gallery-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-align: center;
}

.gallery-container .underline {
  border: 1px solid #efd300;
  border-radius: 10px;
  margin-top: 1em;
  width: 20%;
}

.gallery-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: auto auto 5rem auto;
}

.gallery-container .cards-container .card {
  position: relative;
  width: 24rem;
  height: 42rem;
  margin: 0 .5em;
}

.gallery-container .cards-container .card img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  opacity: .6;
}

.gallery-container .cards-container .card h3 {
  font-size: 100%;
  font-weight: 100;
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  letter-spacing: .8em;
  padding-left: .8em;
  z-index: 1;
}

/* Contact Form
---------------------------------------------------------*/
.contact-container {
  background-color: #efd300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  text-transform: uppercase;
}

.contact-container h1 {
  color: #171717;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-align: center;
}

.contact-container .underline {
  border: 1px solid #171717;
  border-radius: 10px;
  margin-top: 1em;
  width: 20%;
}

.contact-container .form-container {
  background-color: #171717;
  border: 2px solid #171717;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto 5rem auto;
  padding: 2rem;
}

.contact-container .form-container > div {
  margin: .5em;
}

.contact-container .form-container .name, .contact-container .form-container .email,
.contact-container .form-container .phone, .contact-container .form-container .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 90%;
}

.contact-container .form-container #first-name, .contact-container .form-container #last-name {
  width: 48%;
}

.contact-container .form-container input[type=text],
.contact-container .form-container input[type=tel],
.contact-container .form-container input[type=email],
.contact-container .form-container textarea, .contact-container .form-container select {
  background-color: #202020;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: .3rem;
  padding: .8rem;
}

.contact-container .form-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #cfcfcfde;
}

.contact-container .form-container .fa-chevron-down {
  margin-left: .5rem;
}

.contact-container .form-container .intrest-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 90%;
}

.contact-container .form-container #intrest {
  width: 90%;
}

.contact-container .form-container #intrest:hover {
  cursor: pointer;
}

.contact-container .form-container .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.contact-container .form-container input[type=submit] {
  background-color: #202020;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin-top: 1.3em;
  padding: .5em;
  text-transform: uppercase;
  width: 30%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.contact-container .form-container input[type=submit]:hover {
  cursor: pointer;
  background-color: #efd300;
  color: #171717;
}

/* About
---------------------------------------------------------*/
.about-container {
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80%;
  margin: 0 auto;
}

.about-container h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: .8em;
  padding-left: .8em;
  margin-top: 3rem;
  text-transform: uppercase;
}

.about-container .underline {
  border: 1px solid #efd300;
  border-radius: 10px;
  margin-top: 1em;
  width: 20%;
}

.about-container .about-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.about-container .about-content .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24rem;
  height: 32rem;
  margin: 2em;
  overflow: hidden;
}

.about-container .about-content .img-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container p {
  color: #fff;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

/* Footer
---------------------------------------------------------*/
footer {
  background-color: #171717;
  position: relative;
  bottom: 0;
  height: 20%;
  width: 100%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 1em 0 0 0;
}

footer small {
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .top-footer a:hover {
  color: #efd300;
}

footer .footer-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2rem;
}

footer .icon-wrapper:hover {
  color: #171717;
  background-color: #efd300;
  border: #171717;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .icon-wrapper {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2.4em;
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .icon-wrapper i {
  margin: auto;
}

footer .logo-div {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .top-footer a {
  text-transform: uppercase;
}

footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .bottom-footer a {
  margin-top: .5rem;
  margin-bottom: .5em;
  margin-left: .3rem;
}
/*# sourceMappingURL=style.css.map */